html {
    background: url(../images/leaves.jpg);
    background-size: center;
    background-repeat: no-repeat;
    background-position: fixed;
}

body {
    background:transparent;
}

.jumbotron {
    padding:0;
    margin-right:30vw;
}

.titleStyle {
    color:#A7D799;
    font-family: 'Marcellus', serif;
}

.pStyle {
    color:white;
    font-family: 'Asap', sans-serif;
}

.colors {
    background-color:#222A3F;
}

.btn {
    background-color:#A7D799;
    border-color:white;
    color:#222A3F;
    margin-top:0.25vw;
}

.btn:hover {
    background-color:#222A3F;
    color:#A7D799;
    border-color:white;
}

.mapDiv {
    height:45vw;
}

#map {
    height: 100%;
}

.nav-link {
    background-color:#50B076;
    border-color:#222A3F;
    color:white;
    margin-top:0.5vw;
    transition:0.75s;
}

.nav-link {
    transition-timing-function: ease-in-out;
}

.nav-link:hover {
    background-color:#222A3F;
    color:#A7D799;
}

#logoHolder {
    height:16vw;
}

#logo {
    height:16vw;
    width:auto;
    filter:grayscale(75%);
}

#calendar {
    background-color:#A7D799;
    color:#222A3F;
}

#addNewEvent {
    display:none;
    position:fixed;
    top:1vw;
    left:25%;
    width:50%;
    z-index:1000;
}

#error {
    display:none;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #222A3F; 
}

::-webkit-scrollbar-thumb {
    background: #A7D799;
}

::-webkit-scrollbar-thumb:hover {
    background: #50B076;
}

::selection {
    background: #A7D799;
}