html {
    background: url(../images/leaves.jpg) no-repeat center center fixed;
}

body {
    background:transparent;
}

nav {
    background-color:#DCE0D9;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
}

#navBar {
    border-bottom:1vw;
    border-color:#222A3F;
}

#navLogo,
#navName {
    height:3.5vw;
}

.nav-link {
    background-color:#A7D799;
    border-color:#222A3F;
    color:#222A3F;
    font-family: 'Marcellus', serif;
    font-size:1.5vw;
    float:right;
    transition:0.5s;
    transition-timing-function: ease-in-out;
}

.nav-link:hover {    
    background-color:#222A3F;
    color:#DCE0D9;    
}

hr {
    background-color:#A7D799;
}

.jumbotron {
    padding:0;
    margin-right:30vw;
}

#logoHolder {
    background-color:#DCE0D9;
    margin-top:5vw;
}

#welcomeView {
    margin-left:12%;
}

.titleStyle {
    color:#A7D799;
    font-family: 'Marcellus', serif;
}

.pStyle {
    color:white;
    font-family: 'Asap', sans-serif;
}

.colors {
    background-color:#222A3F;
}

.btn {
    background-color:#A7D799;
    border-color:white;
    color:#222A3F;
    margin-top:0.25vw;
}

.btn:hover {
    background-color:#222A3F;
    color:#A7D799;
    border-color:white;
}

#map {
    height: 100%;
    height:40vw;
}

#logo {
    height:16vw;
    width:auto;
    filter:grayscale(75%);
}

#calendar {
    background-color:#A7D799;
    color:#222A3F;
}

.smallCal {
    width:66%;
    transition:10s;
}

#eventInfo {
    width:33%;
    margin-top:12vw;
    margin-bottom:1vw;
    padding-bottom:0;
    background-color:#A7D799;
    display:none;
}

.blueText {
    color: #222A3F;
}

#addNewEvent {
    display:none;
    position:fixed;
    top:0.5vw;
    left:25%;
    width:50%;
    z-index:1000;
}

#date,
#time {
    width:100%;
}

#error {
    display:none;
}

a {
    color:#50B076;
    font-family: 'Marcellus', serif;
}

a:hover {
    color:white;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #222A3F; 
}

::-webkit-scrollbar-thumb {
    background: #A7D799;
}

::-webkit-scrollbar-thumb:hover {
    background: #DCE0D9;
}

::selection {
    background: #A7D799;
}